name: Alien Kernel Builder - Poco M5
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          repository: MiCode/Xiaomi_Kernel_OpenSource
          ref: rock-s-oss

      - name: Install Toolchain & Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison lz4 libssl-dev libelf-dev clang lld llvm

      - name: Kill SELinux
        run: |
          KCONFIG_PATH=$(find . -name Kconfig | grep -i "selinux" | head -n 1)
          if [ -n "$KCONFIG_PATH" ]; then
            sed -i 's/bool "NSA SELinux support"/bool "NSA SELinux support (ALIEN MOD)"/g' $KCONFIG_PATH
            sed -i 's/default y/default n/g' $KCONFIG_PATH
          fi

      - name: Build Kernel
        run: |
          export ARCH=arm64
          export SUBARCH=arm64
          
          # Di repo Xiaomi resmi, namanya biasanya gki_defconfig atau spesifik rock
          CONF="rock_defconfig"
          
          make O=out ARCH=arm64 $CONF
          
          make -j$(nproc --all) O=out \
               ARCH=arm64 \
               CC=clang \
               CROSS_COMPILE=aarch64-linux-gnu- \
               NM=llvm-nm \
               OBJCOPY=llvm-objcopy \
               OBJDUMP=llvm-objdump \
               STRIP=llvm-strip

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Alien-Kernel-PocoM5
          path: out/arch/arm64/boot/Image.gz
          
