name: Kernel Builder - Poco M5
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kernel Source
        run: |
          git clone --depth=1 https://github.com/MiCode/Xiaomi_Kernel_OpenSource.git -b yunluo-s-oss kernel_source
          
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison lz4 libssl-dev libelf-dev clang lld llvm python3 git

      - name: Setup Toolchain (Clang & GCC)
        run: |
          mkdir toolchain
          cd toolchain
          # Download Clang resmi dari Google
          wget -q https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/master/clang-r416183b1.tar.gz
          tar -xf clang-r416183b1.tar.gz
          cd ..
          echo "$(pwd)/toolchain/bin" >> $GITHUB_PATH

      - name: Configure SELinux Policy
        run: |
          cd kernel_source
          KCONFIG_PATH=$(find . -name Kconfig | grep -i "selinux" | head -n 1)
          if [ -n "$KCONFIG_PATH" ]; then
            sed -i 's/default y/default n/g' $KCONFIG_PATH
            echo "SELinux configuration updated."
          fi

      - name: Build Kernel Image
        run: |
          cd kernel_source
          export ARCH=arm64
          export SUBARCH=arm64
          
          # Setup Environment secara manual agar tidak 'not found'
          CLANG_DIR=$(pwd)/../toolchain/bin
          export PATH="$CLANG_DIR:$PATH"
          
          CONF="gki_defconfig"
          
          # Buat file config
          make O=out ARCH=arm64 $CONF
          
          # Mulai masak kernel
          make -j$(nproc --all) O=out \
               ARCH=arm64 \
               CC=clang \
               CLANG_TRIPLE=aarch64-linux-gnu- \
               CROSS_COMPILE=aarch64-linux-gnu- \
               CROSS_COMPILE_ARM32=arm-linux-gnueabi- \
               LD=ld.lld \
               AR=llvm-ar \
               NM=llvm-nm \
               OBJCOPY=llvm-objcopy \
               OBJDUMP=llvm-objdump \
               STRIP=llvm-strip

      - name: Export Kernel Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Kernel-Image-PocoM5
          path: kernel_source/out/arch/arm64/boot/Image.gz
          
